<%- include('../templates/header') -%>
<!-- untuk report  -->
<div id="app" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Data Pelanggan</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item"><a href="#">pelanggan</a></li>
                        <li class="breadcrumb-item active">Daftar Pelanggan</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Daftar Pelanggan</h3>
                            <br>
                            <i class="fas fa-file-download" style="display: inline-block;"></i>
                            <a href="#" id="unduhdata">Unduh Data</a>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"
                                data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="example1_length"></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="example1_filter" class="dataTables_filter"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datapelanggan"
                                        class="table table-bordered table-striped dataTable" role="grid"
                                        aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="example1"
                                                rowspan="1" colspan="1"
                                                aria-label="Browser: activate to sort column ascending"
                                                style="width: 200px;">Mitra</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1"
                                                rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 194px;">Pelanggan</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1"
                                                rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 225px;">Barang</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1"
                                                rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 225px;">tanggal</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1"
                                                rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 219px;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd" v-for="data in pelanggan">
                                                <td>{{data.mitra}}</td>
                                                <td>{{data.pelanggan}}</td>
                                                <td>{{data.merk.toUpperCase()}} - {{data.tipe}} </td>
                                                <td>{{data.tanggal}}</td>
                                                <td>{{ data.status }}</button>
                                                </td>
                                            </tr>
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <%- include('../templates/footer') -%>
            <script>
                var vm = new Vue({
                    el: "#app",
                    data: {
                        pelanggan: null
                    },
                    mounted() {
                        this.getData()
                    },
                    methods: {
                        getData(){
                            axios({
                                method: 'get',
                                url: '/api/perbaikan'
                            }).then((response) => {
                                return vm._data.pelanggan = response.data;
                            })
                        },
                        deletePelanggan(id){
                            axios.delete('/api/pelanggan/' + id)
                            .then(response => {
                                this.getData()
                                if (response.data.status == "success") {
                                    this.success(response.data.message);
                                } else if (response.data.status == "error") {
                                    this.error(response.data.message);
                                }
                            })
                            
                        },
                        warning: function (message) {
                            setTimeout(function () {
                                toastr.warning(
                                    message
                                    );
                            }, 10);
                        },
                        success: function (success) {
                            setTimeout(function () {
                                toastr.success(
                                    success
                                    );
                            }, 10);
                        },
                        error: function (error) {
                            setTimeout(function () {
                                toastr.error(
                                    error
                                    );
                            }, 10);
                        },
                    }
                })
            </script>