
 </div>
    <footer class="main-footer bg-dark">
      <strong>RepairMe &copy; 2019 <a href="#">Repairme</a>.</strong>
      admin@repairme.com :)
      <div class="float-right d-none d-sm-inline-block">
        <b>Versi</b> 1.0.0
      </div>
    </footer>
    
    <!-- javascript -->
    
    <!-- jQuery --> 
    <script src="/assets/js/jquery-3.4.1.js"></script>
    <script src="/assets/panel-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/panel-master/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/assets/panel-master/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/assets/panel-master/plugins/raphael/raphael.min.js"></script>
    <script src="/assets/panel-master/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/assets/panel-master/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="/assets/panel-master/dist/js/adminlte.js"></script>
    <!-- ChartJS -->
    <script src="/assets/panel-master/plugins/chart.js/Chart.min.js"></script>
    <!-- Toastr -->
    <script src="/assets/panel-master/plugins/toastr/toastr.min.js"></script>
    <script src="/assets/js/notiny/notiny.js"></script>
    <link href="/assets/js/notiny/notiny.css" rel="stylesheet">
    <script src="/assets/panel-master/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="/assets/panel-master/plugins/moment/moment.min.js"></script>
    <script src="/assets/js/moment-id.js"></script>
    <!-- date-range-picker -->
    <script src="/assets/panel-master/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- auto numeric -->
    <script src="/assets/js/autoNumeric.js"></script>
    <script src="/assets/js/vueJs/vue.js"></script>
    <script src="/assets/js/vueJs/axios.js"></script>
    <script src="/assets/panel-master/plugins/chart.js/Chart.min.js"></script>
    <script src="/assets/panel-master/dist/js/pages/dashboard3.js"></script>
  </body>
  </html>
