<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= judul %></title>
    <link href="./assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="./assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="./assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="./assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="./assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="./assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="./assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="./assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <link href="./assets/css/home.template.css/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="./assets/css/home.template.css/css/colors/default.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main id="app">
        <div class="page-loader">
            <div class="loader">Repairme sedang memuat halaman...</div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span></button><a class="navbar-brand" href="">RepairME</a>
                </div>
                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="">Dashboard</a></li>
                        <li><a href="/tentang-kami">tentang kami</a></li>
                        <li v-if="session.email === 'false'">
                            <a href="" class="fa fa-address-card" data-toggle="modal"
                                data-target="#exampleModal">Registrasi</a>
                        </li>
                        <li v-if="session.email === 'false'">
                            <a class="fa fa-user" href="/login">Login</a>
                        </li>
                        <li v-if="session.email !== 'false'">
                            <a class="fa fa-out" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="home-section home-full-height bg-dark-30" id="home" data-background="./assets/images/fix.jpeg">
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-1">Selamat Datang di Website</div>
                    <div class="font-alt mb-40 titan-title-size-4">RepairMe</div><a
                        class="section-scroll btn btn-border-w btn-round" href="#alt-features">Tentang Kami</a>
                </div>
            </div>
        </section>
        <div class="main">
            <section class="module-small" id="alt-features">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">RepairMe</h2>
                            <div class="module-subtitle font-serif">"RepairMe merupakan tempat untuk perbaikan Hp dan
                                Laptop anda serta dikerjakan oleh mitra terpercaya. Mitra akan mengerjakan tepat waktu
                                sesuai dengan waktu yang sudah ditentukan."</div>
                        </div>
                        <hr>
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Visi</h2>
                            <div class="module-subtitle font-serif">Membantu pelanggan dalam menemukan tempat perbaikan
                                dan Membantu mitra (Pemilik Jasa) mendapatkan klien </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Misi</h2>
                        <div class="module-subtitle font-serif">Menjadi Website terpercaya dalam mempertemukan Pelanggan
                            dan Mitra</div>
                    </div>
                    <hr>
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Tujuan</h2>
                        <div class="module-subtitle font-serif">Mempermudah mitra menemukan pelanggan untuk memperbaiki
                            Hp dan Laptop</div>
                    </div>
                </div>
        </div>
        </section>
        <hr>
        <section class="module" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Kirim Pesan?</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form id="contactForm" role="form" method="post" action="php/contact.php">
                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <input class="form-control" type="text" id="name" name="name" placeholder="Nama Anda"
                                    required="required" data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email"
                                    placeholder="Email Anda" required="required"
                                    data-validation-required-message="Please enter your email address." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="7" id="message" name="message"
                                    placeholder="Pesan Anda" required="required"
                                    data-validation-required-message="Please enter your message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Kirim</button>
                            </div>
                        </form>
                        <div class="ajax-response font-alt" id="contactFormResponse"></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="module-small bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="widget" ">
                      <h5 class=" widget-title font-alt">Hubungi</h5>
                                <p>Jl. Raya Situbondo, Blindungan, Kec. Bondowoso, Kab. Bondowoso, Jawa Timur 68211.</p>
                                <p>Phone : +6283847999690</p>
                                <p>Email : <a href="#">repairme@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget" ">
                      <h5 class=" widget-title font-alt"><a href="">Perbaiki Sekarang</h5>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget" s>
                                <h5 class="widget-title font-alt"><a href="">Tentang Kami
                                </h5>
                                <p> RepairMe merupakan tempat untuk perbaikan Hp dan Laptop anda serta dikerjakan oleh
                                    mitra terpercaya</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-d">
        <footer class="module-small footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright font-alt">&copy; 2019&nbsp;<a
                                href="<?= base_url(); ?>/home/index">RepairMe</a></p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>

    <!-- JavaScripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/vueJs/vue.js"></script>
    <script src="/assets/js/vueJs/axios.js"></script>
    <script>
        var socket = io();
    </script>
    <script>
        var vm = new Vue({

            el: "#app",
            data: {
                session: {
                    email: null
                }
            },
            mounted() {
                this.session.email = "<%= sessionEmail %>";
            }

        })
    </script>

    <script src="./assets/lib/jquery/dist/jquery.js"></script>
    <script src="./assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./assets/lib/wow/dist/wow.js"></script>
    <script src="./assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="./assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="./assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="./assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="./assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="./assets/lib/smoothscroll.js"></script>
    <script src="./assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="./assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="./assets/js/home.template.js/js/plugins.js"></script>
    <script src="./assets/js/home.template.js/js/main.js"></script>
</body>

</html>
</body>

</html>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>Anda akan bergabung sebagai?</h5>
            </div>
            <div class="modal-body">

                <a href="/pelanggan/registrasi" class="btn btn-round btn-b" style="width: 280px;">Gabung Menjadi
                    Pelanggan</a>

                <a href="/mitra/registrasi" class="btn btn-round btn-b tombol-mitra" style="width: 280px;">Gabung
                    Menjadi Mitra</a>
            </div>
        </div>
    </div>
</div>