<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= judul %></title>
    <link rel="stylesheet" href="/assets/panel-master/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/panel-master/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/assets/panel-master/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/assets/panel-master/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="/assets/panel-master/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="/assets/panel-master/plugins/daterangepicker/daterangepicker.css">
    <!-- untuk leafletjs -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
</head>


<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm">
    <div id="app" class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom-0">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/home" class="nav-link">Home</a>
                    <div class="waktu"></div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell" style="font-size: 150%;"></i>
                        <span class="jml_pesan_baru"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                        <span class="dropdown-item dropdown-header"><span class="jml_pesan_baru"></span> pesan baru
                            untuk</span>
                        <div class="dropdown-divider notif_atas"></div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="fa fa-sign-out-alt" style="font-size: 150%;" href="/logout/"></a>
                    <!-- <span class="float-right text-muted text-sm">keluar</span> -->
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-light elevation-2">
            <!-- Brand Logo -->
            <a href="/pelanggan/" class="brand-link">
                <span class="brand-text font-weight-light">
                    <center>Pelanggan RepairMe</center>
                </span>
            </a>
            <div v-if="pelanggan !== null" class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img :src="'/assets/images/pelanggan/' + pelanggan.foto_profile" class="img-box elevation-2"
                            alt="Foto Profile">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{ pelanggan.nama.toUpperCase() }}</a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-compact" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
                        <li class="nav-header">
                            BARANG
                        </li>
                        <li class="nav-item">
                            <a href="" :class="'nav-link ' + sidebar_menu.permintaan_perbaikan" data-toggle="modal"
                                data-target="#sidebar_modal_pengajuan">
                                <i class="fa fa-shopping-cart nav-icon"></i>
                                <p>Pengajuan Perbaikan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" :class="'nav-link ' + sidebar_menu.perbaikann" data-toggle="modal"
                                data-target="#sidebar_perbaikan">
                                <i class="fa fa-medkit nav-icon"></i>
                                <p>Perbaikan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/pelanggan/batalperbaikan" class="nav-link">
                                <i class="fa fa-circle-notch nav-icon"></i>
                                <p>Perbaikan Dibatalkan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/pelanggan/selesaiperbaikan" class="nav-link">
                                <i class="fa fa-check-circle nav-icon"></i>
                                <p>Barang Selesai Di Perbaiki</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/pelanggan/riwayatperbaikan" class="nav-link">
                                <i class="fa fa-file nav-icon"></i>
                                <p>Riwayat Perbaikan</p>
                            </a>
                        </li>
                        <li class="nav-header">
                            PROFILE
                        </li>
                        <li class="nav-item">
                            <a href="/pelanggan/profile" class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>Profile Pelanggan</p>
                            </a>
                        </li>
                        <li class="nav-header">
                            MITRA
                        </li>
                        <li class="nav-item">
                            <a href="/pelanggan/profile" class="nav-link">
                                <i class="fas fa-search nav-icon"></i>
                                <p>Cari Mitra</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/pelanggan/profile" class="nav-link">
                                <i class="fas fa-star nav-icon"></i>
                                <p>Berikan Rating</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Pelanggan/notifikasi" class="nav-link">
                                <i class="nav-icon fas fa-map"></i>
                                <p>
                                    Notifikasi
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
                <!-- /.sidebar -->
        </aside>
        <!-- ==== MODAL ==== -->
        <div class="modal fade" id="sidebar_modal_pengajuan" tabindex="-1" role="dialog"
            aria-labelledby="sidebar_modal_pengajuan" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
                            <div class="card-header">
                                <h3 class="card-title">Pilih Perbaikan</h3>
                            </div>
                            <div class="card-body">
                                <a href="/pelanggan/pengajuan/laptop"
                                    class="btn btn-block btn-outline-success btn-sm">LAPTOP</a>

                                <a href="/pelanggan/pengajuan/handphone"
                                    class="btn btn-block btn-outline-info btn-sm">HANDPHONE</a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==== MODAL ==== -->
        <div class="modal fade" id="sidebar_perbaikan" tabindex="-1" role="dialog" aria-labelledby="sidebar_pengajuan"
            aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
                            <div class="card-header">
                                <h3 class="card-title">Pilih Perbaikan</h3>
                            </div>
                            <div class="card-body">
                                <a href="/pelanggan/perbaikan/laptop"
                                    class="btn btn-block btn-outline-success btn-sm">LAPTOP</a>

                                <a href="/pelanggan/perbaikan/handphone"
                                    class="btn btn-block btn-outline-info btn-sm">HANDPHONE</a>


                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>