<%- include('../../templates/header') -%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Perbaikan</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Perbaikan</a></li>
                        <li class="breadcrumb-item active">Pengajuan Perbaikan</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header bg-dark">
                <h3 class="card-title">Perbaikan Laptop</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered" id="tb_laptop">
                    <thead>
                        <tr>
                            <th style="width: 10px">NO</th>
                            <th style="width: 30%;">Barang</th>
                            <th style="width: 30%;">Mitra</th>
                            <th style="width: 20%;">Tanggal</th>
                            <th style="width: 20%;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, index) in perbaikan">
                            <td>{{index + 1}}</td>
                            <td>
                                {{ value.merk.toUpperCase() }} - {{ value.tipe }}
                                <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal"
                                    data-target="#detail_barang" style="float: right; width: 30%;"
                                    @click="modal_detail_barang(value)">Detail</button>
                            </td>
                            <td>
                                {{ value.data_mitra[0].nama_usaha.toUpperCase() }}
                                <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal"
                                    data-target="#detail_mitra" style="float: right; width: 30%;"
                                    @click="modal_detail_mitra(value.data_mitra[0])">Detail</button>
                            </td>
                            <td>
                                {{ value.tanggal.split(',')[0] }} - {{ tanggal(value.tanggal) }}
                            </td>
                            <td>
                                <button v-if="value.status === 'Mitra Siap Memperbaiki'"
                                    class="btn btn-block btn-success btn-sm" data-toggle="modal"
                                    data-target="#perbaikan_diterima" @click="modal_perbaikan_diterima(value)">Mitra
                                    Siap Memperbaiki</button>
                                <button v-if="value.status === 'Menunggu Persetujuan'"
                                    class="btn btn-block btn-info btn-sm" disabled>Menunggu Persetujuan</button>
                                <button v-if="value.status === 'Mitra Menolak Perbaikan'"
                                    class="btn btn-block btn-danger btn-sm" data-toggle="modal"
                                    data-target="#perbaikan_ditolak" @click="modal_perbaikan_ditolak(value)">Mitra
                                    Menolak Perbaikan</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<!-- ==========  BAGIAN MODAL ============= -->
<div class="modal fade" id="detail_barang">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container-fluid">
                    <table class="table table-bordered">
                        <tr class="bg-dark">
                            <th><b>Judul</b></th>
                            <th><b>Data</b></th>
                        </tr>
                        <tr>
                            <td>Jenis</td>
                            <td ref="jenis"></td>
                        </tr>
                        <tr>
                            <td>Merk</td>
                            <td ref="merk"></td>
                        </tr>
                        <tr>
                            <td>Tipe</td>
                            <td ref="tipe"></td>
                        </tr>
                        <tr>
                            <td>Kerusakan</td>
                            <td ref="kerusakan"></td>
                        </tr>
                        <tr>
                            <td>Keterangan Lain</td>
                            <td ref="keterangan_lain"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ===== DETAIL MITRA ==== -->
<div class="modal fade" id="detail_mitra">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <table class="table table-bordered">
                    <div class="container-fluid">
                        <tr class="bg-dark">
                            <th>Lokasi</th>
                            <th colspan="2" style="width: 40%;">Data</th>
                        </tr>
                        <tr>
                            <td rowspan="10">
                                <div id="map" style="height: 450px; display: block;">
                                </div>
                            </td>
                            <td style="width: 18%;">
                                <b>NAMA MITRA</b>
                            </td>
                            <td ref="detail_mitra_nama_usaha"> </td>
                        </tr>
                        <tr>
                            <td colspan="2"><img src="" ref="detail_mitra_foto_usaha"></td>
                        </tr>
                        <tr>
                            <td><b>NAMA PEMILIK</b></td>
                            <td ref="detail_mitra_nama_mitra"> </td>
                        </tr>
                        <tr>
                            <td><b>KEAHLIAN</b></td>
                            <td ref="detail_mitra_keahlian"> </td>
                        </tr>
                        <tr>
                            <td><b>ALAMAT</b></td>
                            <td ref="detail_mitra_alamat"></td>
                        </tr>
                        <tr>
                            <td><b>DESKRIPSI</b></td>
                            <td ref="detail_mitra_deskripsi"></td>
                        </tr>
                        <tr>
                            <td><b>RATING</b></td>
                            <td ref="detail_mitra_rating"></td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ============= PERBAIKAN DITERIMA =============== -->
<div class="modal fade" id="perbaikan_diterima">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container-fluid">
                    <table class="table table-bordered">
                        <tr>
                            <td><strong>VOUCHER</strong></td>
                            <td ref="perbaikan_diterima_vocher"></td>
                        </tr>
                        <tr>
                            <td>KETERANGAN LAIN</td>
                            <td ref="perbaikan_diterima_keterangan"></td>
                        </tr>
                        <tr>
                            <td>LANGKAH SELANJUTNYA</td>
                            <td>
                                <p>Silahkan datang ke tempat perbaikan mitra, dan bawa voucher yang tertera diatas,
                                    sekaligus barang yang ingin anda perbaiki.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ============= PERBAIKAN DITOLAK =============== -->
<div class="modal fade" id="perbaikan_ditolak">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container-fluid">
                    <table class="table table-bordered">
                        <tr>
                            <td><strong>STATUS</strong></td>
                            <td> <b> -MITRA MENOLAK PENGAJUAN- </b> </td>
                        </tr>
                        <tr>
                            <td>KETERANGAN LAIN</td>
                            <td ref="perbaikan_ditolak_keterangan"></td>
                        </tr>
                        <tr>
                            <td>LANGKAH SELANJUTNYA</td>
                            <td>
                                <p>Silahkan lakukan perbaikan di mitra repairme yang lain, atau menunggu mengirim ulang
                                    permintaan dengan benar.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<%- include('../../templates/header') -%>
<!-- ===================== VUE JS =================== -->
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            pelanggan: null,
            mitra: null,
            perbaikan: null,
            myfile: null
        },
        mounted() {
            this.getData()
            this.getPerbaikan()
        },
        methods: {
            getData() {
                axios({
                    method: 'get',
                    url: '/api/pelanggan/' + '<%= email %>'
                }).then(response => {
                    this.pelanggan = response.data;
                })
            },
            warning: function (message) {
                setTimeout(function () {
                    toastr.warning(
                        message
                    );
                }, 10);
            },
            success: function (success) {
                setTimeout(function () {
                    toastr.success(
                        success
                    );
                }, 10);
            },
            error: function (error) {
                setTimeout(function () {
                    toastr.error(
                        error
                    );
                }, 10);
            },
            getPerbaikan() {
                axios.get('/api/perbaikan/pelanggan/' + '<%= email %>' + '/laptop')
                    .then(response => {
                        this.perbaikan = response.data
                    })
            },
            map(lat, lng, nama) {
                $('#map').html('<div id="maps" style="height:100%; width:100%;"></div>');
                var popup = L.popup();
                var map = L.map('maps').setView([lat, lng], 17);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                var marker = L.marker([lat, lng]).addTo(map).bindPopup(nama).openPopup();
            },
            modal_detail_barang(value) {
                this.$refs.jenis.textContent = value.jenis_barang.toUpperCase()
                this.$refs.merk.textContent = value.merk.toUpperCase()
                this.$refs.tipe.textContent = value.tipe
                this.$refs.kerusakan.textContent = value.kerusakan
                if (value.keterangan_lain === null) {
                    this.$refs.keterangan_lain.textContent = '-Tidak Ada-'
                } else {
                    this.$refs.keterangan_lain.textContent = value.keterangan_lain
                }
            },
            modal_detail_mitra(value) {
                setTimeout(() => {
                    vm.map(value.lat, value.lng, value.nama_usaha)
                }, 200);
                this.$refs.detail_mitra_nama_usaha.textContent = value.nama_usaha.toUpperCase()
                this.$refs.detail_mitra_nama_mitra.textContent = value.nama.toUpperCase()
                this.$refs.detail_mitra_foto_usaha.src = '/assets/images/mitra/foto_usaha/' + value.foto_usaha
                this.$refs.detail_mitra_keahlian.textContent = value.jenis_usaha.toUpperCase()
                this.$refs.detail_mitra_alamat.textContent = value.alamat
                if (value.deskripsi) {
                    this.$refs.detail_mitra_deskripsi.textContent = value.deskripsi
                } else {
                    this.$refs.detail_mitra_deskripsi.textContent = '-Belum Ada-'
                }
                if (value.rating) {
                    this.$refs.detail_mitra_rating.textContent = value.rating
                } else {
                    this.$refs.detail_mitra_rating.textContent = '-Belum Ada-'
                }
            },
            tanggal(tanggal) {
                return moment(tanggal, "Do MMMM YYYY, HH:mm:ss").fromNow()
            },
            modal_perbaikan_diterima(value) {
                this.$refs.perbaikan_diterima_vocher.textContent = value.voucher
                if (value.keterangan_mitra) {
                    this.$refs.perbaikan_diterima_keterangan.textContent = value.keterangan_mitra
                } else {
                    this.$refs.perbaikan_diterima_keterangan.textContent = '-Belum Ada-'
                }
            },
            modal_perbaikan_ditolak(value) {
                this.$refs.perbaikan_ditolak_keterangan.textContent = value.keterangan_mitra
            }
        }
    })
</script>