<%- include('../../templates/header') -%>
<!-- ========== CONTENT ============ -->
<div class="content-wrapper mt-5">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Terima Voucher</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Terima Voucher</a></li>
            <li class="breadcrumb-item active">Perbaikan</li>
          </ol>
        </div>
      </div>
      </div><!-- /.container-fluid -->
    </section>
    <div class="container-fluid">
      <!-- container fluid -->
      <div class="row">
        <div class="col-sm-5 ml-1">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">Masukkan Voucher</h3>
            </div>
            <div class="card-body">
              <div class="input-group">
                <input class="form-control form-control-lg" type="text" ref="input_voucher" placeholder="Voucher">
                <span class="input-group-append">
                  <button @click="searchVoucher()" type="button" class="btn btn-dark terima_voucher">Terima</button>
                </span>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div v-if="voucher !== null" class="col-sm-6">
          <div class="card card-dark detail_pelanggan">
            <div class="card-header">
              <h3 class="card-title">Informasi Pelanggan</h3>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td style="width: 42%;"><strong>Pengaju</strong></td>
                    <td> {{ voucher.data_pelanggan[0].nama.toUpperCase() }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div v-if="voucher !== null" class="col-sm-11" style="margin-left: 0; margin-right: auto;">
          <div class="card card-dark data_barang">
            <div class="card-header">
              <h3 class="card-title">Informasi Barang</h3>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td style="width: 30%;"><strong>Jenis Barang</strong></td>
                    <td> {{ voucher.jenis_barang }} </td>
                  </tr>
                  <tr>
                    <td style="width: 30%;"><strong>Merk</strong></td>
                    <td> {{ voucher.merk }} </td>
                  </tr>
                  <tr>
                    <td style="width: 30%;"><strong>Tipe</strong></td>
                    <td> {{ voucher.tipe }} </td>
                  </tr>
                  <tr>
                    <td style="width: 30%;"><strong>Kerusakan</strong></td>
                    <td> {{ voucher.kerusakan }} </td>
                  </tr>
                  <tr v-if="voucher.keterangan_lain !== null">
                    <td style="width: 30%;"><strong>Keterangan Lain</strong></td>
                    <td> {{ voucher.keterangan_lain }} </td>
                  </tr>
                  <tr>
                    <td style="width: 30%;"><strong>Keterangan Mitra</strong></td>
                    <td> {{ voucher.keterangan_mitra }} </td>
                  </tr>
                  <tr>
                    <td style="width: 30%;"><strong>Harga</strong></td>
                    <td> {{ voucher.harga }} </td>
                  </tr>
                </tbody>
              </table>
              <button v-if="voucher.jenis_barang === 'laptop'" class="btn btn-dark btn-block mt-4" data-toggle="modal" @click="modal_terima_voucher" data-target="#modal_terima_voucher" type="button">Perbaiki Laptop</button>
              <button v-if="voucher.jenis_barang === 'handphone'" class="btn btn-dark btn-block mt-4" data-toggle="modal" @click="modal_terima_voucher" data-target="#modal_terima_voucher" type="button">Perbaiki Handphone</button>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="modal_terima_voucher" tabindex="-1" role="dialog" aria-labelledby="terimaLaptopLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
            <div class="card-header">
              <h3 class="card-title">Perkiraan Mitra</h3>
            </div>
            <div class="card-body">
              <!-- Date and time range -->
              <div class="form-group">
                <label>Perkiraan Mitra :</label>
                <div class="input-group">
                  <button type="button" class="btn btn-default float-right" id="daterange">
                  <i class="far fa-calendar-alt"></i>Perkiraan Lama Perbaikan
                  </button>
                </div>
              </div>
              <div v-if="time !== null">
                <table border="1" cellpadding="10">
                  <tr>
                    <td style="width: 15%"><strong>Waktu</strong></td>
                    <td><span> {{ showTime }} </span></td>
                  </tr>
                  <tr>
                    <td><strong style="width: 15%">Lama</strong></td>
                    <td><span> {{ totalDays }} </span></td>
                  </tr>
                  <!-- /.form group -->
                </table>
                <button class="btn btn-block btn-outline-success btn-sm" @click="postData()">Terima VOucher</button>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../../templates/footer') -%>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        sidebar_menu: {
          perbaikan: 'menu-open',
          voucher: 'active'
        },
        mitra: null,
        voucher: null,
        time: null,
        showTime: null,
        totalDays: null
      },
      mounted(){
        this.getData()
      },
      methods:{
        getData(){
          axios({
            method: 'get',
            url: '/api/mitra/' + '<%= email %>'
          }).then(response => {
            this.mitra = response.data;
          })
        },
        searchVoucher(){
          let value = this.$refs.input_voucher.value
          if (value === '') {
            this.warning('Isikan Voucher Terlebih Dahulu!')
            this.voucher = null
          }else{
            axios.get('/api/perbaikan/voucher/' + value).then(response => {
              if (response.data.length > 0) {
                this.success('Vocuher Ditemukan!')
                this.voucher = response.data[0]
              }else {
                this.error('Voucher Tidak Ditemukan!')
                this.voucher = null
              }
            })
          }
        },
        modal_terima_voucher(){
          $('#daterange').daterangepicker({
            minDate: 0,
            ranges: {
              'Hari ini': [moment(), moment().add(12, 'hour')],
              '3 Hari ': [moment(), moment().add(3, 'days')],
              '1 Minggu': [moment(), moment().add(7, 'days')],
              '2 Minggu': [moment(), moment().add(12, 'days')],
              '30 Hari': [moment(), moment().add(30, 'days')]
            },
            minDate: moment()
          },
          function(start, end) {
            vm.showTime = moment().format("Do MMMM YYYY, HH:mm") + ' sampai ' + end.format("Do MMMM YYYY , HH:mm")
            vm.time = moment().format("Do MMMM YYYY, HH:mm:ss") + ' sampai ' + end.format("Do MMMM YYYY , HH:mm:ss")
            let days = end.format("Do MMMM YYYY")
            vm.totalDays = moment(days, "Do MMMM YYYY").fromNow()
          }
          );
        },
        postData(){
          axios.post('/api/perbaikan/mitra/' + this.voucher._id + '/terima_voucher', {
            status: 'Sedang Diperbaiki',
            lama_perkiraan: vm.time
          }, {
            header: {'Content-Type': 'application/json'}
          }).then(response => {
            if (response.data.status == "success") {
              this.success('Berhasil Diterima!')
              setTimeout(() => {
                window.location = '/mitra/perbaikan/' + this.voucher.jenis_barang
              }, 500);
            }else if(response.data.status == "error") {
              this.error('Gagal Menerima!')
            }
          })
        },
        warning: function (message) {
          setTimeout(function () {
            toastr.warning(
              message
              );
          }, 10);
        },
        success: function (success) {
          setTimeout(function () {
            toastr.success(
              success
              );
          }, 10);
        },
        error: function (error) {
          setTimeout(function () {
            toastr.error(
              error
              );
          }, 10);
        },
      }
    })
  </script>