<%- include('../templates/header') -%>
<div id="app" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tambah Daftar Paket Baru</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">admin</a></li>
                        <li class="breadcrumb-item"><a href="#">paket</a></li>
                        <li class="breadcrumb-item active">Tambah Daftar paket Baru</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tambah Daftar Paket</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"
                            data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"
                            data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="notif">
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-1 mt-3">
                                    <input type="text" name="paket" class="form-control" id="paket"
                                    placeholder="Nama Paket Baru" v-model="paket" enable> <br>
                                    <input type="text" name="harga" class="form-control" id="harga"
                                    placeholder="Harga Paket Baru" v-model="harga" data-a-sign="Rp. " data-a-dec="," data-a-sep="." placeholder="Harga Rupiah" @focus="hargaChange()">
                                </div>
                                <div class="col-sm-4 mt-3">
                                    <button type="submit" id="insertpaket" @click="insertpaket"
                                    class="btn btn-block btn-success">TAMBAH
                                PAKET</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <table id="example2" class="table table-bordered table-hover dataTable"
                            role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th>Paket</th>
                                    <th>Harga</th>
                                    <th>Ubah Data</th>
                                    <th>Hapus Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" v-for="pkt in dataType">
                                    <td>{{pkt.paket}}</td>
                                    <td>{{pkt.harga}}</td>
                                    <td><button class="btn btn-success btn-sm btn-u-ubahlap"
                                        data-toggle="modal" data-target="#modalubahpaket"
                                        @click="update(pkt._id, pkt.paket, pkt.harga)">
                                        update
                                    </button></td>
                                    <td><button @click="deletePaket(pkt._id)"
                                        class="btn btn-danger btn-sm">Hapus</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- end card body -->
    </div>
</div>
<!-- /.content -->
</div>
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="modalubahpaket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Paket</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div v-if="updateType !== null" class="modal-body">
            <!-- isi dari class modal -->
            <input type="text" id="tipehp_ubh" name="tipehp_ubh" class="form-control mb-3"
            v-model="updateType.paket" readonly>
            <input type="text" class="form-control" id="tipe_hp_lm" name="tipe_hp_lm"
            v-model="updateType.harga">
            <div class="modal-footer">
                <button type="submit" name="submit" class="btn btn-secondary"
                @click="updatePaket">update</button>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('../templates/footer') -%>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            paket: null,
            harga: null,
            dataType: null,
            updateType: null,
            newMerk: {
                merk: null,
                jenis: "handphone"
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData: function () {

                axios({
                    method: 'get',
                    url: '../api/barang/merk/handphone'
                }).then((response) => {
                    return vm._data.merk = response.data;
                })

                axios({
                    method: 'get',
                    url: '../api/barang/paket'
                }).then((response) => {
                    return vm._data.dataType = response.data;
                })

            },
            optionMerk: function () {
                return this.choosed = $('#optionMerk').val();
            },
            warning: function (message) {
                setTimeout(function () {
                    toastr.warning(
                        message
                        );
                }, 10);
            },
            success: function (success) {
                setTimeout(function () {
                    toastr.success(
                        success
                        );
                }, 10);
            },
            error: function (error) {
                setTimeout(function () {
                    toastr.error(
                        error
                        );
                }, 10);
            },
            insertpaket: function () {
                axios({
                    method: 'post',
                    url: '../api/barang/paket',
                    data: {
                        paket: vm._data.paket,
                        harga: vm._data.harga
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then((response) => {
                    this.getData();
                    if (response.data.status == "success") {
                        this.success(response.data.message);
                    } else if (response.data.status == "error") {
                        this.error(response.data.message);
                    }
                })
            },
            update: function (id, paket, harga) {
                return this.updateType = {
                    _id: id,
                    paket: paket,
                    harga: harga
                }
            },
            updatePaket: function () {
                axios({
                    method: 'put',
                    url: '../api/barang/paket/' + vm._data.updateType._id,
                    data: {
                        paket: vm._data.updateType.paket,
                        harga: vm._data.updateType.harga,
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then((response) => {
                    this.getData();
                    $('#modalubahpaket').modal('toggle');
                    if (response.data.status == "success") {
                        this.success(response.data.message);
                    } else if (response.data.status == "error") {
                        this.error(response.data.message);
                    }
                })
            },
            deletePaket: function (id) {
                axios({
                    method: 'delete',
                    url: '../api/barang/paket/' + id
                })
                .then(response => {
                    this.getData();
                    if (response.data.status == "success") {
                        this.success(response.data.message);
                    } else if (response.data.status == "error") {
                        this.error(response.data.message);
                    }
                })
            },
            hargaChange(){
                $('#harga').autoNumeric('init');
            }

        }
    });
</script>