<%- include('../templates/header') -%>

        <div id="app" class="content-wrapper">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Verifikasi Mitra</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Verifikasi Mitra</a></li>
                            <li class="breadcrumb-item active">Permintaan Verifikasi</li>
                        </ol>
                    </div>
                </div>
            </div>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Permintaan Verifikasi</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 15%">
                                    Nama Mitra
                                </th>
                                <th style="width: 15%">
                                    Jenis Usaha
                                </th>
                                <th style="width: 15%">
                                    Nama Usaha
                                </th>
                                <th style="width: 15%;">
                                    Alamat
                                </th>
                                <th style="width: 15%;">
                                    Foto Usaha
                                </th>
                                <th style="width: 15%">
                                    Foto Transaksi
                                </th>
                                <th style="width: 15%">
                                    Opsi
                                </th>
                                <th style="width: 15%">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="verifikasi !== null" v-for="ver in verifikasi">
                                <td>
                                    <ul class="list-inline">
                                        {{ ver.data_mitra[0].nama }}          
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {{ ver.data_mitra[0].jenis_usaha}} 
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {{ ver.data_mitra[0].nama_usaha }} 
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {{ ver.data_mitra[0].alamat }} 
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <img :src="'/assets/images/mitra/foto_usaha/' + ver.data_mitra[0].foto_usaha " alt="member" width="144px" height="100px">
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <img :src="'/assets/images/mitra/foto_bukti/' + ver.bukti_pembayaran " alt="mitra"  width="144px" height="100px">
                                    </ul>
                                </td>
                                <td class="project-actions text-right">
                                    <button @click="terverifikasi(ver.data_mitra[0]._id)" class="btn btn-success btn-sm ">Terima</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm ">Tolak</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </section>
       </div>
       <%- include('../templates/footer') -%>
    <script>
        var vm = new Vue({

            el: "#app",
            data: {
                verifikasi: null
            },
            mounted() {
                this.getData();
            },
            methods: {
                getData(){
                    axios('/api/verifikasi/mitra').then((response) => {
                        return vm.verifikasi = response.data;
                    })
                },
                warning: function (message) {
                    setTimeout(function () {
                        toastr.warning(
                            message
                            );
                    }, 10);
                },
                success: function (success) {
                    setTimeout(function () {
                        toastr.success(
                            success
                            );
                    }, 10);
                },
                error: function (error) {
                    setTimeout(function () {
                        toastr.error(
                            error
                            );
                    }, 10);
                },
                terverifikasi(value){
                    axios.put('/api/verifikasi/terverifikasi/' + value)
                    .then(response => {
                        this.getData()
                        if (response.data.status == "success") {
                            this.success(response.data.message);
                        } else if (response.data.status == "error") {
                            this.error(response.data.message);
                        }
                    })
                }
            }



        });
    </script>