<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">RepairMe &copy; 2019 <a href="home/index">RepairMe</a>Website
                    Penyedia Layanan Perbaikan
                    Laptop dan
                    Handphone</p>
                <b>Versi</b> 1.0.0
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<!-- JavaScripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/vueJs/vue.js"></script>
<script src="/assets/js/vueJs/axios.js"></script>
<script>
    var socket = io();
</script>
<script src="./assets/lib/jquery/dist/jquery.js"></script>
<script src="./assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./assets/lib/wow/dist/wow.js"></script>
<script src="./assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="./assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="./assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="./assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="./assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="./assets/lib/smoothscroll.js"></script>
<script src="./assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="./assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="./assets/js/home.template.js/js/plugins.js"></script>
<script src="./assets/js/home.template.js/js/main.js"></script>
</body>

</html>
</body>

</html>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>Anda akan bergabung sebagai?</h5>
            </div>
            <div class="modal-body">

                <a href="/pelanggan/registrasi" class="btn btn-round btn-b" style="width: 280px;">Gabung Menjadi
                    Pelanggan</a>

                <a href="/mitra/registrasi" class="btn btn-round btn-b tombol-mitra" style="width: 280px;">Gabung
                    Menjadi Mitra</a>
            </div>
        </div>
    </div>
</div>