<%- include('templates/header') -%>
<!-- Content Wrapper. Contains page content -->
<div v-if="pelanggan !== null" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 ml-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    :src="'/assets/images/pelanggan/' + pelanggan.foto_profile">
                            </div>
                            <h3 class="profile-username text-center">{{ pelanggan.nama }}
                            </h3>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Email</b> <a class="float-right">{{ pelanggan._id }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>No Telepon</b> <a class="float-right">{{ pelanggan.no_tlp }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Alamat</b> <a class="float-right">{{ pelanggan.alamat }}</a>
                                </li>
                            </ul>
                            <button class="btn btn-success btn-sm btn-u-ubahlap" data-toggle="modal"
                                data-target="#modalubahhp" style="width: 100%;">
                                update
                            </button>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modalubahhp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Tipe Handphone</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- isi dari class modal -->
                    <input type="text" id="id_ubh" name="id_ubh" class="form-control mb-3" v-model="pelanggan._id"
                        readonly>
                    <input type="text" class="form-control mb-3" id="nama_ubh" name="nama_ubh" v-model="pelanggan.nama">
                    <input type="text" class="form-control mb-3" id="no_tlp_ubh" name="no_tlp_ubh"
                        v-model="pelanggan.no_tlp">
                    <input type="text" class="form-control mb-3" id="alamat_ubh" name="alamat_ubh"
                        v-model="pelanggan.alamat">
                    <div class="modal-footer">
                        <button type="submit" name="submit" @click="updateHp" class="btn btn-secondary"
                            style="width: 100%;">update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<%- include('templates/footer') -%>
<script>
    var vm = new Vue({

        el: "#app",
        data: {
            sidebar_menu: {
                profile: 'active'
            },
            pelanggan: null,
            notifikasi: null,
        },
        mounted() {
            this.getData();
            this.getNotifikasi()
        },
        methods: {
            getData: function () {
                axios({
                    method: 'get',
                    url: '/api/pelanggan/' + '<%= email %>'
                }).then(response => {
                    this.pelanggan = response.data;
                })
            },
            updateHp: function () {
                axios({
                    method: 'put',
                    url: '/api/pelanggan/' + vm._data.pelanggan._id,
                    data: {
                        nama: vm._data.pelanggan.nama,
                        no_tlp: vm._data.pelanggan.no_tlp,
                        alamat: vm._data.pelanggan.alamat
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then((response) => {
                    this.getData();
                    $('#modalubahhp').modal('toggle');
                    if (response.data.status == "success") {
                        this.success(response.data.message);
                    } else if (response.data.status == "error") {
                        this.error(response.data.message);
                    }
                })
            },
            getNotifikasi() {
                axios.get('/api/notifikasi/jenis/pelanggan/' + '<%= email %>' + '/t')
                    .then(response => {
                        this.notifikasi = response.data
                    })
            },
            getNotifikasiTanggal(value) {
                return moment(value, "Do MMMM YYYY, HH:mm:ss").fromNow()
            },
            warning: function (message) {
                setTimeout(function () {
                    toastr.warning(
                        message
                    );
                }, 10);
            },
            success: function (success) {
                setTimeout(function () {
                    toastr.success(
                        success
                    );
                }, 10);
            },
            error: function (error) {
                setTimeout(function () {
                    toastr.error(
                        error
                    );
                }, 10);
            },
        }
    });
</script>